@import-normalize;

.App {
  text-align: center;
  /* background-image: url("/src/img/bp_buddy_bg_img.svg"); */
  height: 1000px;
  background-color: #f6f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Buddy {
  display: flex;
}
